.single-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: wheat;
    padding: 0 2em 2em 2em;
    border-radius: 2em;
}

.name{
    margin: 1em;
}

.tag-display{
    display: flex;
    flex-wrap: wrap;
}

.tag-data-list{
    display: flex;
    justify-content: center;
    align-items: center;
}