<div class="single-item">
    <div class="name">
        {{mediaDto?.name}}
    </div>
    <div *ngIf="isAudio">
        <app-audio-media-view 
            [mediaId]="mediaDto?.id"
        >
    </app-audio-media-view>
    </div>
    <div *ngIf="isVideo">
        <app-video-media-view 
            [mediaId]="mediaDto?.id"
        >
        </app-video-media-view>
    </div>
    <div *ngIf="isImage">
        <app-image-media-view 
            [mediaId]="mediaDto?.id"
        >
        </app-image-media-view>
    </div>
    <div class="tags">
        <div class="tag-display">
            <div *ngFor="let tag of (currentMediaTags | async)">
                {{tag.name}}&nbsp;<a (click)="removeTag(tag.id)"><fa-icon [icon]="faRemoveBtn" ></fa-icon></a>&nbsp;&nbsp;
            </div>
        </div>
        <div class="tag-data-list">
            <input [(ngModel)]="creatingTagName" placeholder="Dodaj taga" style="width: 6em;" (keypress)="onTagInputKeyPress($event)" list="tags" type="text" />
            <datalist id="tags">
                <option value="{{tag.name}}" id="{{tag.id}}" *ngFor="let tag of (allUserTags | async)" >
            </datalist>
        </div>
    </div>
    <input (click)="removeMedia(mediaDto?.id)" type="button" class="btn btn-danger" value="Usuń" style="margin-top: 1em"/>
</div>