<div class="wrapper fadeInDown">
    <form id="registrationForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div id="formContent">
        <!-- Tabs Titles -->
  
        <!-- Icon -->
        <div class="fadeIn first" style="padding-top: 2em">
        </div>
  
        <!-- Register Form -->
        <div>
          <input formControlName="login" type="text" class="form-control fadeIn second" id="login" name="login" placeholder="Login" maxlength="12" [ngClass]="{ 'is-invalid': submitted && f.login.errors }">
          <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
            <div *ngIf="f.login.errors.required">Login jest wymagany.</div>
            <div *ngIf="f.login.errors.minlength">Login musi mieć conajmniej 5 znaków.</div>
            <div *ngIf="f.login.errors.maxlength">Login musi mieć conajwyżej 12 znaków.</div>
          </div>
  
          <div>
            <input formControlName="mail" type="text" class="form-control fadeIn second" id="email" name="email" placeholder="E-mail" maxlength="30" [ngClass]="{ 'is-invalid': submitted && f.mail.errors }">
            <div *ngIf="submitted && f.mail.errors" class="invalid-feedback">
              <div *ngIf="f.mail.errors.required">Email jest wymagany.</div>
              <div *ngIf="f.mail.errors.email">Nie poprawy adres email.</div>
              <div *ngIf="f.mail.errors.minlength">Email musi mieć conajmniej 5 znaków.</div>
              <div *ngIf="f.mail.errors.maxlength">Email musi mieć conajmniej 30 znaków.</div>
            </div>
          </div>
  
          <div>
            <input formControlName="password" type="password" class="form-control fadeIn second" id="password" name="password" placeholder="Hasło" maxlength="30" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Hasło jest wymagane.</div>
              <div *ngIf="f.password.errors.minlength">Hasło musi mieć conajmniej 5 znaków.</div>
              <div *ngIf="f.password.errors.maxlength">Hasło musi mieć conajmniej 30 znaków.</div>
            </div>
          </div>
  
          <div>
            <input formControlName="confirmPass" type="password" class="form-control fadeIn second" id="confirmpass" name="confirmpass" placeholder="Potwierdź hasło" maxlength="30" [ngClass]="{ 'is-invalid': submitted && f.confirmPass.errors }">
            <div *ngIf="submitted && f.confirmPass.errors" class="invalid-feedback">
              <div *ngIf="f.confirmPass.errors.required">Proszę potwierdzić hasło.</div>
              <div *ngIf="f.confirmPass.errors.mustMatch">Hasła się nie zgadzają.</div>
            </div>
          </div>
  
          <input type="submit" class="fadeIn fourth" value="Register">
        </div>
      </div>
    </form>
  </div>