<div class="media-container">
    <div class="media-item" *ngFor="let media of (allUserMedia | async)" >
        <app-single-media-view [mediaDto]="media" (mediaChange)="reloadDtos()" ></app-single-media-view>
    </div>
</div>