.media-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.media-item{
    margin: 2%;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}