<div *ngFor="let media of (mediasForTag | async)" >
    <div class="media-item">
        <app-single-media-view  [mediaDto]="media" (mediaChange)="reloadMedia()"></app-single-media-view>
    </div>
</div>