<div class="tag-create-form-container">
    <input #tagName type="text" class="form-control" name="newTagName" placeholder="Nazwa taga" (change)="newTagNameChange($event)" />
    <input type="button" class="btn btn-primary" (click)="createTag()" value="Stwórz taga" style="margin-left: 1em"/>
</div>
<div class="tag-container">
    <div class="tag-single" *ngFor="let tag of (allTags | async)">
        <span>Nazwa: <a [routerLink]="['/tags', tag.id]">{{tag.name}}</a></span><br>
        Ilość mediów: {{tag.medias.length}}<br>
        <input type="button" class="btn btn-danger" (click)="deleteTag(tag.id)" value="Usuń" />
    </div>
</div>
