
.tag-create-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.tag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag-single{
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 157, 229);
    min-width: 20em;
    height: 7em;
    border-radius: 10px;
}