<div class="wrapper fadeInDown">
    <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div id="formContent">
        <!-- Tabs Titles -->
  
        <!-- Icon -->
        <div class="fadeIn first" style="height: 1rem;">
        </div>
  
        <!-- Login Form -->
        <div>
          <input type="text" class="form-control fadeIn second" id="username" name="username" placeholder="Login" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Login jest wymagany</div>
          </div>
  
          <input type="password" id="password" class="form-control fadeIn third"  name="password" placeholder="Hasło" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Hasło jest wymagane</div>
          </div>
  
          <input type="submit" class="fadeIn fourth" value="Zaloguj">
        </div>
  
        <div id="formFooter">
          <a class="underlineHover" href="#" routerLink="/register">Zarejestruj</a>
        </div>
  
      </div>
    </form>
  </div>