<div class="nav-container">
    <div class="nav-part-left">
        <div class="nav-item title">
            Album
        </div>
        <div class="nav-spacer">

        </div>
    </div>
    <div class="nav-part-right">
        <div class="nav-part-right" *ngIf="isLoggedIn()">
            <div class="nav-link" [ngClass]="isUploadComponent() ? 'nav-active' : ''">
                <a [routerLink]="['upload']">Dodaj plik</a>
            </div>
            <div class="nav-link" [ngClass]="isTagsComponent() ? 'nav-active' : ''">
                <a [routerLink]="['tags']">Twoje tagi</a>
            </div>
            <div class="nav-link" [ngClass]="isMediaComponent() ? 'nav-active' : ''">
                <a [routerLink]="['media']">Twoje media</a>
            </div>
        </div>
        <div *ngIf="isLoggedIn()" class="nav-link">
            <a href="#" (click)="logout()">Wyloguj</a>
        </div>
        <div *ngIf="isLoggedIn()" class="nav-item">
            Zalogowany jako: {{ loggedUsername }}
        </div>
        <div *ngIf="!isLoggedIn()" class="nav-link" [ngClass]="isAuthComponent() ? 'nav-active' : ''">
            <a [routerLink]="['/login']">Zaloguj się</a>
        </div>
    </div>
</div>