.nav-part-left {
    display: flex;
    justify-content: flex;
    flex-direction: row;
}

.nav-part-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-container {
    padding: 0 5rem 0 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: purple;
    height: 3rem;
}

.nav-item {
    display: flex;
    padding: 10px;
    color: white;
    justify-content: center;
    align-items: center;
}

.nav-link, .nav-link > a {
    display: flex;
    background-color: darken(purple, 10%);
    color: white;
    justify-content: center;
    align-items: center;
}

.nav-link:hover, .nav-link:hover a{
    background-color: darken(purple, 15%);
}


.nav-active, .nav-active > a {
    background-color: lighten(purple, 5%);
}

.title {
    font-weight: bolder;
}