<div class="row justify-content-center">
    <div class="container justify-content-center">
        <div class="info-panel row justify-content-center" *ngIf="(uploadedFile | async) != null">
            Wysłano plik o nazwie: {{ (uploadedFile | async)?.name }}<br>
        </div><br>
        <div class="row justify-content-center">
            <button (click)="addMedia()" class="btn btn-primary">Wybierz plik do wysłania</button>
        </div>
    </div>

</div>
<input 
    style="visibility: hidden;"
    #inputDialog
    type="file"
    accept="video/*,image/*,audio/*"
    (change)="uploadFile()"
/>